html,
body {
  color: #333;
  font-family: 'Lato', Helvetica, Arial, Verdana, Sans-serif;
  font-size: 15px;
  background: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

[hidden] {
  visibility: collapse;
  pointer-events: none;
}

#app {
  min-height: 100vh;
}

#content {
  flex-grow: 1;
}

footer {
  border-top: 1px solid #ccc;
}

.main-nav .nav-link {
  color: #000;
  text-transform: uppercase;
}
.main-nav .nav-link.active:after {
  content: '';
  display: block;
  position: relative;
  top: .8rem;
  margin: 0 -15px;
  border-bottom: 3px solid #000;
}

.img-placeholder {
  background-color: #ddd;
}

.color-inherit {
  color: inherit;
}

.btn {
  border-radius: 0;
}

a.btn.btn-primary,
.btn.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #000;
  font-style: italic;
}
a.btn.btn-primary:focus,
.btn.btn-primary:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .5);
}

.hero-layer {
  min-height: 425px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
