html,
body {
  color: #333;
  font-family: 'Lato', Helvetica, Arial, Verdana, Sans-serif;
  font-size: 15px;
  background: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

[hidden] {
  visibility: collapse;
  pointer-events: none;
}

#content {
  flex-grow: 1;
}

footer {
  display: block;
  padding: 30px;
  border-top: 1px solid #ccc;
}

body.view-loading #content {
  opacity: 0;
}

body.view-templates #view-templates,
body.view-tips #view-tips,
body.view-about #view-about,
body.view-thanks #view-thanks,
body.view-download #view-download,
body.view-account #view-account {
  display: block;
}

body.view-templates .nav-templates,
body.view-tips .nav-tips,
body.view-about .nav-about,
body.view-thanks .nav-thanks,
body.view-download .nav-download,
body.view-account .nav-account {
  border-bottom: 2px solid #000;
}

body:not(.view-templates) #view-templates,
body:not(.view-tips) #view-tips,
body:not(.view-about) #view-about,
body:not(.view-thanks) #view-thanks,
body:not(.view-download) #view-download,
body:not(.view-account) #view-account {
  display: none;
}

.main-nav .nav-link {
  color: #000;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .main-nav .nav-link {
    padding-bottom: 1em;
  }
}

.btn {
  border-radius: 0;
}

a.btn.btn-primary,
.btn.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #000;
  font-style: italic;
}
a.btn.btn-primary:focus,
.btn.btn-primary:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .5);
}

.buy {
  visibility: hidden;
  pointer-events: none;
}
.has-ecom .buy {
  visibility: visible;
  pointer-events: auto;
}

.hero-layer {
  min-height: 425px;
  background-image: url(//d380dcsmppijhx.cloudfront.net/images/homebgdarker2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
