{
  "parserOptions": {
      "ecmaVersion": 2017,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
  },
  "globals": {
    "StripeCheckout": true,
    "scrollIt": true,
    "fetch": true,
    "$": true,
    "Vault": true
  },
  "rules": {
    "no-console": 0,
    "indent": [
      "error",
      2
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "never",
      {
        "beforeStatementContinuationChars": "always"
      }
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "standard",
    "standard-jsx"
  ]
}
