#view-free {
  .top-layer {
    padding-top: 30px;
    padding-bottom: 45px;
    color: $white;
    h2.h4 {
      font-style: normal !important;
    }
    .h4 {
      font-size: $font-size-base * 3;
      line-height: $line-height-sm;
    }
  }
}
