html,
body {
  font-size: 15px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

[hidden] {
  visibility: collapse;
  pointer-events: none;
}

.clickable {
  cursor: pointer;
  pointer-events: auto;
}

.fill-parent {
  @extend .position-absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.break-word {
  word-wrap: break-word;
}

.link-disabled {
  pointer-events: none;
  opacity: .9;
}

.lead,
.font-size-base {
  font-size: $font-size-base !important;
}

.img-placeholder {
  background-color: #ddd;
}

.color-inherit {
  color: inherit;
}

.font-family-serif {
  font-family: $font-family-serif;
}

.font-family-san-serif {
  font-family: $font-family-sans-serif;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .aspect#{$infix}-16x9 {
      padding-top: 56.25% !important;
    }
  }
}

h1, .h1,
h4, .h4,
h5, .h5,
h6, .h6 {
  letter-spacing: $letter-spacing-md;
}

h2 {
  font-family: $font-family-serif;
  letter-spacing: $letter-spacing-xs;
  @extend .h1;
  font-size: 2.2rem;
  @include media-breakpoint-up(sm) {
    font-size: 3rem;
  }
}

h3, .h3 {
  @extend .text-uppercase;
  font-family: $font-family-serif;
  font-size: $font-size-base * 1.15;
  letter-spacing: $letter-spacing-lg;
  em {
    @extend .d-block;
    font-size: $font-size-base * 2.15;
    letter-spacing: $letter-spacing-xs;
    text-transform: none;
  }
}

h4, .h4 {
  @extend .mb-2;
  @extend .font-italic;
  font-family: $font-family-serif;
  letter-spacing: $letter-spacing-xs;
  font-size: $font-size-base * 2.15;
  text-transform: none !important;
}

.btn {
  @extend .text-uppercase;
  font-size: $font-size-base;
  letter-spacing: $letter-spacing-md;
  line-height: 1;
  padding: .9rem 2rem;
  border-radius: 0;
}

.btn-disabled {
  background-color: $gray-100;
  border-color: $gray-100;
  color: $gray-300;
  pointer-events: none;
}

.btn-wide {
  min-width: 10rem;
  max-width: 100%;
}

.br {
  @extend .d-block;
}

.quotes {
  background-color: $white;
  blockquote {
    display: block;
    position: relative;
  }
  #quotesCarousel.carousel {
    min-height: 33rem;
    @include media-breakpoint-up(sm) {
      min-height: 26rem;
    }
  }
  .carousel-indicators {
    bottom: -30px;
    li {
      background-color: $gray-500;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
    display: none;
    top: -15px;
    @include media-breakpoint-up(sm) {
      display: flex;
    }
  }
  .carousel-control-prev {
    justify-content: left;
    left: -45px;
  }
  .carousel-control-next {
    justify-content: right;
    right: -45px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-image: url(/images/home/arrow-left.svg);
  }
  .carousel-control-next-icon {
    background-image: url(/images/home/arrow-right.svg);
  }
}

#app {
  min-height: 100vh;
}

#content {
  flex-grow: 1;
}

#terms,
#privacy {
  h3 {
    letter-spacing: $letter-spacing-sm;
  }
  a {
    text-decoration: underline;
  }
}

.st-uppercase {
  @extend .text-dark;
  @extend .text-uppercase;
  font-size: $font-size-base;
  letter-spacing: 1.78;
}

[data-env="preview"] header h1 a,
[data-env="dev"] header h1 a{
  @extend .position-relative;
  &:after {
    content: 'dev';
    @extend .position-absolute;
    @extend .d-inline-block;
    letter-spacing: $letter-spacing-sm;
    right: 40px;
    bottom: -6px;
    font-size: 10px;
    padding: 2px 3px;
    border-radius: 3px;
    color: $white;
    background: rgba(255, 0, 0, .8);
  }
}
[data-env="preview"] header h1 a:after {
  content: 'preview';
  background: rgba(0, 0, 255, .8);
}

.main-nav {
  .nav-link {
    $navLinkSpacing: 1rem;
    @extend .st-uppercase;
    @extend .position-relative;
    top: .3rem;
    padding: .5rem $navLinkSpacing 1rem;
    &:after {
      content: '';
      display: block;
      position: relative;
      top: 9px;
      margin: 0 (-$navLinkSpacing);
      border-bottom: 6px solid transparent;
    }
    &.active:after {
      border-color: $dark;
    }
  }
  @include media-breakpoint-up(sm) {
    $navLinkSpacing: .5rem;
    &.has-download {
      .nav-link {
        &:after {
          margin-left: -$navLinkSpacing;
          margin-right: -$navLinkSpacing;
        }
        padding-left: $navLinkSpacing;
        padding-right: $navLinkSpacing;
      }
    }
  }
  @include media-breakpoint-up(md) {
    .nav-link {
      &:after {
        top: 12px;
        margin-bottom: -.75rem;
      }
    }
  }
}
