$body-bg: #fff;
$light: #f5f5f5;
$theme-colors: (
  "primary": #333,
  "dark": #333
);
$line-height-lg: 1.6;
$enable-rounded: false;
$enable-shadows: false;
$h1-font-size: 3rem;
$input-btn-padding-y: .7rem;
$input-btn-padding-x: 2rem;
$font-family-sans-serif: "Trebuchet MS", Helvetica, Arial, sans-serif;
$font-family-serif: Garamond, Helvetica, Arial, sans-serif;
$letter-spacing-sm: 1;
$letter-spacing-md: 2;
$letter-spacing-lg: 4;
$letter-spacing-xl: 4.8;
@import "~bootstrap/scss/bootstrap";
@import "./global.scss";
@import "./templates.scss";
@import "./tips.scss";
@import "./about.scss";
