.hero-layer {
  @extend .position-relative;
  min-height: 425px;
  background-color: $gray-500;
  color: $white;
  .hero-image {
    background-repeat: no-repeat;
    background-size: cover;
    z-index: $z-ground + 1;
    opacity: 0;
    @include transition(opacity .2s linear);
    &.ready {
      opacity: 1;
    }
  }
  .hero-content {
    @extend .position-relative;
    z-index: $z-sky;
  }
  .image-credit {
    @extend .position-absolute;
    @extend .h4;
    letter-spacing: $letter-spacing-xs;
    z-index: $z-sky;
    font-size: inherit;
    color: rgba(255, 255, 255, .5);
    right: 2rem;
    bottom: 1rem;
  }
}

#start {
  .start-list {
    flex-grow: 1;
    min-width: 13rem;
  }
  h3 {
    line-height: $line-height-lg;
  }
  ol li {
    line-height: $line-height-lg * 1.1;
  }
}

[itemprop="offers"] {
  font-size: $font-size-base * 2.7;
  font-family: $font-family-serif;
}

#templates {
  @extend .py-4;
  > * {
    @extend .px-3;
  }
  s {
    @extend .position-relative;
    font-family: $font-family-serif;
    color: #F57A7A;
    font-size: $font-size-base * 2;
    text-decoration: none;
    &:after {
      content: '';
      @extend .position-absolute;
      top: 60%;
      left: 0;
      right: 0;
      border-top: 1px solid #F57A7A;
    }
  }
  [itemprop="offers"] {
    @extend .pl-4;
  }
}

.deck {
  background-color: $white;
  @extend .py-3;
  @extend .px-4;
  @extend .my-5;
  > * {
    @extend .px-4;
  }
  [itemprop="offers"] {
    @extend .d-block;
  }
  .order-0 {
    font-family: $font-family-serif;
    font-size: 150px;
    color: #ccc;
  }
  .order-2 {
    @extend .position-relative;
    flex-grow: 1;
  }
  .preview {
    background-color: $dark;
    color: $white;
    .close-icon {
      @extend .position-absolute;
      @extend .text-center;
      top: 0;
      right: 0;
      width: 25px;
      @extend .font-weight-light;
      font-size: $font-size-base * 1.5;
      color: $gray-400;
      @include media-breakpoint-up(md) {
        width: 45px;
      }
    }
  }
  .preview + .description {
    @extend .position-absolute;
    z-index: $z-metro;
  }
  @include media-breakpoint-up(md) {
    .preview,
    .description {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 1.5rem;
      right: 1.5rem;
      bottom: 1.5rem;
      left: 1.5rem;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 20px;
    @include media-breakpoint-up(md) {
      width: 50px;
    }
  }
}

.buy-modal {
  .modal-content {
    border-radius: 20px;
  }
  .modal-title {
    margin: 0;
    line-height: 1;
  }
}

.loading-ellipsis {
  @extend .d-inline-block;
  width: 3rem;
}
