#view-tips {
  .tip {
    background: $white;
    border-radius: 15px;
    justify-content: space-between;
  }
  .tip-image {
    flex-grow: 1;
  }
  .tip-content {
    flex-grow: 2;
  }
  .h4 {
    line-height: $line-height-xs;
    font-size: $font-size-base * 2.5;
  }
  @include media-breakpoint-up(md) {
    .tip:nth-child(even) {
      flex-direction: row-reverse !important;
    }
  }
}
