---
layout: main
slug: free
title: "Slide Therapy: Free Stuff"
highlight_title: "Want more help?"
---
<div id="free">
  <div class="top-layer" style="background:url({{ site.url }}/i/free/topimage5-blur.jpg) center no-repeat">
    <div class="container">
      <div class="text-center">
        <h2>Color&nbsp;palettes</h2>
        <p class="lead">Make your presentations beautiful.</p>
      </div>
      <iframe style="max-width:100%" src="https://www.youtube-nocookie.com/embed/LRQmhwDVMGg?showinfo=0&amp;rel=0" allow="autoplay; encrypted-media" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
      <a class="d-block text-center mt-1" href="https://drive.google.com/drive/folders/1THGnGCys_mT5W6TDpSYQDx4I4veP3KfS?usp=drive_link" target="_blank">
        <button class="buy btn btn-lg btn-wide btn-primary">Download</button>
      </a>
    </div>
  </div>
</div>
{% include highlights.html %}
{% include decks.html %}