---
layout: main
slug: free
title: "Slide Therapy: Free Stuff"
highlight_title: "Want more help?"
---
<div id="free">
  <div class="top-layer">
    <div class="container">
      <div class="text-center">
        <h2>Get&nbsp;FREE color&nbsp;palettes</h2>
        <p class="lead">Make your presentations beautiful.</p>
      </div>
      <form>
        <fieldset>
          <input type="email" id="email" class="form-control mb-2" placeholder="Email" aria-label="Email" required="required">
          <input type="submit" class="btn btn-primary" value="Submit">
        </fieldset>
        <div class="img"><img src="/i/free/color-palettes1.jpg" alt="" class="img-fluid"></div>
      </form>
    </div>
  </div>
  <div class="bg-light py-3">
    <div class="container text-center">
      <h3 class="mb-2">Learn to make your own</h3>
      <iframe style="max-width:100%" src="https://www.youtube-nocookie.com/embed/LRQmhwDVMGg?showinfo=0&amp;rel=0" allow="autoplay; encrypted-media" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
    </div>
  </div>
</div>
{% include highlights.html %}
{% include decks.html %}