<div class="bg-light">
  <div class="container">
    <div class="decks">
      <div class="deck" data-deck="large" itemscope="" itemtype="http://schema.org/Product">
        <span class="order-0 d-none d-lg-block">1</span>
        <div class="order-2">
          <div class="deck-content">
            <div class="description">
              <span class="h3">for</span>
              <h4 itemprop="name">Large Audiences</h4>
              <div itemprop="description" class="">Large audiences like those in an auditorium have farthest members that are over 15 ft (4.5m) away. These templates are designed to be clear from afar and include dark background templates for use in very dark rooms.
              </div>
            </div>
          </div>
        </div>
        <div itemprop="image" class="order-1 d-none d-lg-block">
          <img class="img-fluid" src="/i/home/largeaudience.png">
        </div>
        <div class="order-3 text-center">
          <a class="buy btn btn-lg btn-wide btn-primary" target="_blank" href="https://drive.google.com/drive/folders/136Xvd5K3aHFQKJD6yMNUj5ISoEft3ubg?usp=drive_link">Get</a>
        </div>
      </div>
      <div class="deck" data-deck="small" itemscope="" itemtype="http://schema.org/Product">
        <span class="order-0 d-none d-lg-block">2</span>
        <div class="order-2">
          <div class="deck-content">
            <div class="description">
              <span class="h3">for</span>
              <h4 itemprop="name">Small Audiences</h4>
              <div itemprop="description" class="">Small audiences like those in conference rooms for investor pitches and company meetings have members that are 15ft (4.5m) away or less. They can see more details so these templates allow for more details per slide.
              </div>
            </div>
          </div>
        </div>
        <div itemprop="image" class="order-1 d-none d-lg-block col-lg-2">
          <img class="img-fluid" src="/i/home/smallaudience.png">
        </div>
        <div class="order-3 text-center">
          <a class="buy btn btn-lg btn-wide btn-primary" target="_blank" href="https://drive.google.com/drive/folders/1qKnl7avX0FwxIjouPDseMf6hVQoQlijZ?usp=drive_link">Get</a>
        </div>
      </div>
      <div class="deck" data-deck="solitary" itemscope="" itemtype="http://schema.org/Product">
        <span class="order-0 d-none d-lg-block">3</span>
        <div class="order-2">
          <div class="deck-content">
            <div class="description">
              <span class="h3">for</span>
              <h4 itemprop="name">Solitary Audiences</h4>
              <div itemprop="description" class="">Solitary audiences are viewing your presentation on their laptop. They are inches away and alone, guiding themselves. They are able to skip ahead and go back at will so these templates make it easy for them to do so.
              </div>
            </div>
          </div>
        </div>
        <div itemprop="image" class="order-1 d-none d-lg-block col-lg-2">
          <img class="img-fluid" src="/i/home/solitaryaudience.png">
        </div>
        <div class="order-3 text-center">
          <a class="buy btn btn-lg btn-wide btn-primary" target="_blank" href="https://drive.google.com/drive/folders/1_Li2t9GanNi0I9hT4DQlP8B-fb9U_MU5?usp=drive_link">Get</a>
        </div>
      </div>
    </div>
  </div>
</div>