<div class="quotes mt-5 bg-lightest">
  <div class="container py-5">
    <h4 class="text-center mb-4">Testimonials</h4>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <blockquote>The focus on diving in and playing around vs. giving a whole bunch of theories about design are great for folks like me who want to just dive in. I learn by doing, so this really resonated with me.<br><br>Making my deck was actually very easy. I spent a lot of time tweaking fonts, colors to make it my own. But what the Slide Therapy product did help me a lot with was ideas for how to lay out the different points and bits of information I had in my mental outline. It was so easy to make my presentation look professionally designed!<br><br>Anyone who's a PM or marketing manager should use this product to make their presentations great.<cite class="d-block pt-3">– Lesley G.<br>Product Leader<br>San Francisco, USA</cite>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <blockquote>I really like the way Slide Therapy builds up a deck through intuitive explanations and logic, and helps me create more visual storytelling decks in stead of the usual bullet lists and text walls. Using the deck also helped me a lot to understand structure and the various components that make up at good slide deck.<br><br>It has proven invaluable in helping me getting my message across, and I highly recommend Slide Therapy to anyone who struggles to make better presentations.<br><br><cite class="d-block pt-3">– Marius J.<br>Engineering Leader<br>Oslo, Norway</cite>
          </blockquote>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>